body{
    background-color: black;
    margin: 0;
}


#sobre{
    text-align: center;   
    padding: 60px 20px;
}


#sobre h2{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}


#sobre p{
    color: #ccc;          
    max-width: 800px;     
    margin: 0 auto;       
    line-height: 1.6;     
}

section h2{
    color: white;
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
    font-family: "Tangerine", cursive;
}

#contacto p{
    color: #ccc;
    text-align: center;
}

.img-cube{
    width: 130px;         
    height: 130px;
    border-radius: 50%;    
    object-fit: cover;     /
    border: 4px solid white;
    display: block;
    margin: 0 auto 15px auto; 
}

#imagen{
    width: 100%;
    height: 100vh;
    background: url("../img/imagen1.jpg") center/cover;
    position: relative;
    font-family: "Tangerine", cursive;
    text-align: center;
}


.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}


.info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.info h1{
    font-size: 40px;
}

.info h2{
    font-size: 25px;
    font-family: "Alice", serif; 
}


.navbar{
    background-color: black !important;
}

.nav-link{
    font-family: "Alice", serif;
    font-size: 18px;
    color: white !important;
}

.nav-link:hover{
    color: #ccc !important;
}


@media (max-width: 768px){

    .img-cube{
        width: 100px;
        height: 100px;
    }

    .info h1{
        font-size: 28px;
    }

    .info h2{
        font-size: 18px;
    }

}

.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 900px;
    margin: 0 auto;
}

.galeria img{
    width: 100%;
    height: 200px;        
    object-fit: cover;    
    border-radius: 0;     
}

.videos{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    max-width: 900px;
    margin: 0 auto; 
}


.video{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

#mapa{
    text-align: center;
    padding: 60px 20px;
}

.mapa{
    max-width: 900px;
    margin: 0 auto;
}

.mapa iframe{
    width: 100%;
    height: 300px;
    border: 0;
}